@model CNPMNC1.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<table class="table-bordered">
    <tr>
        <td>@Html.LabelFor(model => model.idsanpham) </td>
        <td>@Html.EditorFor(model => model.idsanpham)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.tensanpham) </td>
        <td>@Html.EditorFor(model => model.tensanpham)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.thuonghieu) </td>
        <td>@Html.EditorFor(model => model.thuonghieu)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.namsx) </td>
        <td>@Html.EditorFor(model => model.namsx)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.mota) </td>
        <td>@Html.EditorFor(model => model.mota)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.loai_sanpham) </td>
        <td>@Html.EditorFor(model => model.loai_sanpham)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.gia) </td>
        <td>@Html.EditorFor(model => model.gia)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.ImagePro)</td>
        <td>
            <img src="@Url.Content(Model.ImagePro)" height="150" width="150" id="previewimg" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="file" name="UploadImages" onchange="ChangeImage(this, document.getElementById('previewimg'))" />
            <input type="submit" value="Tạo Sản Phẩm Mới" />>
        </td>
    </tr>
</table>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
