@model CNPMNC1.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idsanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idsanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tensanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thuonghieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thuonghieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namsx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namsx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loai_sanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loai_sanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
