@model IEnumerable<CNPMNC1.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idsanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tensanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thuonghieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namsx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loai_sanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idsanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tensanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thuonghieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.namsx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loai_sanpham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            <img src="@Url.Content(item.ImagePro)" height="150" width="150" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idsanpham}) |
            @Html.ActionLink("Details", "Details", new { id = item.idsanpham }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idsanpham })
        </td>
    </tr>
}

</table>
