<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <a href="@Url.Action("Index2", "SanPham")">Đăng Nhập</a>
                    <a href="@Url.Action("DangNhap", "DangNhapDangKy")">Đăng Nhập</a>
                    <a href="@Url.Action("DangKy", "DangNhapDangKy")">Đăng Ký</a>
                    <li class="">
                        @if (Session["ID"] != null)
                        {
                            string idtk = Session["ID"] as string;
                            <a href="@Url.Action("Danhsachdonhang", "NguoiDung")">ĐƠn Hàng CỦa Bạn</a>
                            <a href="@Url.Action("Edit", "DangNhapDangKy", new {id = idtk})">Chỉnh Sữa Tài Khoản</a>
                            <a href="@Url.Action("Dangxuat", "DangNhapDangKy")">Đăng Xuất</a>
                        }
                        @if (Session["Email"] != null)
                        {
                            <a href="@Url.Action("Index", "DangNhapDangKy")">Chỉnh Sữa Tài Khoản khách hàng</a>
                            <a href="@Url.Action("Danhsachdonhang2", "NguoiDung")">QUản Lý ĐƠn Hàng</a>
                            <a href="@Url.Action("Dangxuat", "DangNhapDangKy")">Đăng Xuất</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
