@model CNPMNC1.Models.TaiKhoan

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Thông Tin Tài Khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhvien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhvien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
    <div>
        @Html.ActionLink("chỉnh sửa tài khoản", "Edit", new {id = Model.id})
    </div>
</div>
