@model CNPMNC1.Models.DanhSachDonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn Chắc Chắn muốn hủy đơn hàng?</h3>
<div>
    <h4>DanhSachDonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDkhachhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDkhachhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydathang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydathang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongtien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phuongthuctt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phuongthuctt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
