@model CNPMNC1.Models.DanhSachDonHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>DanhSachDonHang</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.IDkhachhang)
    <div class="form-group">
        @Html.LabelFor(model => model.Tinhtrang, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="Tinhtrang" name="Tinhtrang" style="border: 0px; border-bottom: 0.5px solid #00000030; margin-left: 20px; width: 500px;">
                <option value="Đang Duyệt">Đang Duyệt</option>
                <option value="Đã Duyệt">Đã Duyệt</option>
                <option value="Đang Giao">Đang Giao</option>
                <option value="Đã Giao Thành Công">Đã Giao Thành Công</option>
            </select>            @Html.ValidationMessageFor(model => model.Tinhtrang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ngaydathang, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.EditorFor(model => model.ngaydathang, new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.ngaydathang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tongtien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tongtien, new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.tongtien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.phuongthuctt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="phuongthuctt" name="phuongthuctt" style="border: 0px; border-bottom: 0.5px solid #00000030; margin-left: 20px; width: 500px;">
                <option value="Thanh Toán Khi Nhận Hàng">Thanh Toán Khi Nhận Hàng</option>
                <option value="Thanh Toán Bằng Ngân Hàng">Thanh Toán Bằng Ngân Hàng</option>
            </select>
            @Html.ValidationMessageFor(model => model.phuongthuctt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
